@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/Home/ImportExcel" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <button type="submit">Upload</button>
</form>
